<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Editar Facturación' : 'Nueva Facturación' }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="breadcrumb">
  <ion-icon name="home-outline" color="gray"></ion-icon>
  <span>/</span>
  <span>Facturación</span>
  <span>/</span>
  <span class="breadcrumb-current">{{ isEdit ? 'Editar' : 'Crear' }}</span>
</div> -->

<ion-content class="ion-padding">
  <form [formGroup]="facturacionForm" (ngSubmit)="guardar()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Monto Facturación</ion-label>
        <ion-input formControlName="facturacion" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ruta</ion-label>
        <ion-select formControlName="ruta" placeholder="Seleccione una ruta">
          <ion-select-option *ngFor="let ruta of rutasDisponibles" [value]="ruta._id">
            {{ ruta.name?.name }} - {{ ruta.date | dateLocal:'dd/MM/yyyy' }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Parte</ion-label>
        <ion-select formControlName="parte" placeholder="Seleccione un parte">
          <ion-select-option *ngFor="let parte of partesDisponibles" [value]="parte._id">
            {{ parte.description }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="facturacionForm.invalid">
      {{ isEdit ? 'Actualizar' : 'Crear' }}
    </ion-button>
  </form>
</ion-content>
